*.vvp
*.vcd
*.log
*.svf
*.scr
*.cmd
*.bak
*.lso
*.elf
*.ace
*~
*#
*.swp
*.ini
*.html
*.vhi
*.wdb
*.stx
*.xmsgs
*.xreport
*.exe
*.cmd_log
*_beh.prj
*.ncd
isim
db
incremental_db
work
*.cr.mti
vsim.wlf
transcript
webtalk.log
webtalk_impact.xml
pepExtractor.prj
impact.xsl
impact_impact.xwbt

#ignore OS noise

Thumbs.db
.DS_Store

# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# compiled files
*.a
*.bin
